#card {
  background-color: var(--bg-card);
  display: none;
  align-items: center;
  border-radius: 0.5em;
  box-shadow: 10px 10px 10px var(--btn-fire);
  flex-direction: row-reverse;
  margin-top: 1em;
  padding: 1rem;
  text-align: center;
  width: 15em;
  height: fit-content;  
}

#card img {
  box-shadow: 5px 10px 15px var(--btn-fire);
  border-radius: 50%;
  height: 7em;
  margin-bottom: 0.5em;
  width: 7em;
}

h2,h3{
  border: 0.2em var(--bg-footer);
  text-align: center;
}

/* Responsividade */
/* Mobile */
@media (max-width: 600px) {
  #card {
    width: 90%;
    flex-direction: column; 
  }

  #card img {
    width: 100%; 
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 991px) {
  #card {
    flex-direction: row;
    justify-content: space-between;
    width: 75%;     
  }
}




