@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
    --bg-card:#301702bf;
    --bg-footer:#79573cbb;
    --bg-input:#ab541129;  
    --border:#6c5858; 
    --btn-fire:#281001e7;
    --cor-bg: #6c5858;
    --cor-btn: #6c5858;
    --cor-btn-hover:#683816d5;
    --cor-bgcard: #7d6f6f;
    --cor-font: #e8d9d9;
    --font-base: 'VT323', sans-serif;
  }
  
